//  Colors

// Brand guideline colors
$orange: #fbc167;
$green: #86c593;
$blue: #78cade;
$teal: #2cb5b5;
$pink: #eb98c0;
$red: #e9484a;

//Palettes

// Primary
$primaryMain: $teal;
$primaryContrastText: #fff;
$primaryTextDisabled: rgba(white, 0.5);

//Secondary
$secondaryMain: #78cade;
$secondaryContrastText: #fff;

// Text
$grey: rgba(0, 0, 0, 0.54);

//Other
$lightGrey: #eaeaea;
$mediumGrey: #c3c3c3;

:export {
  primaryMain: $primaryMain;
  secondaryMain: $secondaryMain;
  primaryContrastText: $primaryContrastText;
  secondaryContrastText: $secondaryContrastText;
  primaryTextDisabled: $primaryTextDisabled;
  lightGrey: $lightGrey;
  mediumGrey: $mediumGrey;
  orange: $orange;
  green: $green;
  blue: $blue;
  teal: $teal;
  pink: $pink;
  red: $red;
}
