name: Run tests against commit

on: [pull_request]

jobs:
  unit-test-web:
    runs-on: ubuntu-16.04
    steps:
      - uses: actions/checkout@v2
      - name: Setup kernel for react, increase watchers
        # https://stackoverflow.com/questions/59522374/how-to-increase-the-file-limit-of-github-actions
        run: echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p
      - name: Cypress run
        uses: cypress-io/github-action@v2
        with:
          start: yarn start
          wait-on: "http://localhost:3000"
          wait-on-timeout: 180
      - run: yarn app:test

  unit-test-functions:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      # commenting it out as https://github.com/actions/cache/blob/main/examples.md#node---npm says to do not cache node_modules
      # - name: Cache node_modules
      #   id: cache-modules
      #   uses: actions/cache@v2
      #   with:
      #     path: functions/node_modules
      #     key: ${{ runner.OS }}-node_modules_functions-${{ hashFiles('functions/package-lock.json') }}
      #     restore-keys: |
      #       ${{ runner.OS }}-node_modules_functions-
      - uses: actions/setup-node@v2
        with:
          node-version: '10'
      - run: cd functions && npm install -ci
      - run: cd functions && npm run test

  unit-test-firebase:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
      - run: yarn
      - run: yarn test:initandtest-firebase
      - uses: actions/upload-artifact@v2
        with:
          name: firestore-coverage
          path: |
            firestore-coverage.html
            firestore-debug.log